[submodule "pack/colorschemes/start/vim-monokai"]
	path = pack/colorschemes/start/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "pack/plugins/start/undotree"]
	path = pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/plugins/opt/vim-go"]
	path = pack/plugins/opt/vim-go
	url = https://github.com/fatih/vim-go.git
